<section class="contacts section" id="contacts-id">
  <div class="container">
    <div class="contacts-tumb">
      <div class="contents-tumb_wrapper">
        <h2 class="title">Contacts</h2>

        <h3 class="subtitle">Get in Touch</h3>

        <p class="text">We'd love to hear from you anytime!</p>

        <address class="contacts-address">
          <ul class="contacts-list">
            <li class="contacts-list_item">
              <svg class="contacts-list_icon" width="24" height="24">
                <use href="../img/sprite.svg#icon-mail"></use>
              </svg>
              <a class="contacts-list_link" href="mailto:hello@organicstore.com"
                >hello@organicstore.com</a
              >
            </li>
            <li class="contacts-list_item">
              <svg class="contacts-list_icon" width="24" height="24">
                <use href="../img/sprite.svg#icon-phone"></use>
              </svg>
              <a class="contacts-list_link" href="tel:+15553291024"
                >+1 (555) 329-1024</a
              >
            </li>
          </ul>
        </address>

        <form class="contacts-form">
          <label class="contacts-form_label" for="user-name">Name</label>
          <input
            class="contacts-form_input inp-valid-name"
            id="user-name"
            name="user-name"
            type="text"
            pattern="^[a-zA-Z\s\.]{5,64}$"
            placeholder="Sarah"
          />

          <label class="contacts-form_label" for="user-email">Email</label>
          <input
            class="contacts-form_input inp-valid-email"
            id="user-email"
            name="user-email"
            type="email"
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
            placeholder="hello@organic.com"
          />

          <label class="contacts-form_message" for="user-message"
            >Message</label
          >
          <textarea
            class="contacts-form_textarea inp-valid"
            name="user-message"
            id="user-message"
            maxlength="500"
            placeholder="Type your message..."
          ></textarea>

          <button class="contacts-form_btn" type="button">Submit</button>
        </form>
      </div>

      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/contacts/contacts-d@1x.jpg,
            ./img/contacts/contacts-d@2x.jpg
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/contacts/contacts-t@1x.jpg,
            ./img/contacts/contacts-t@2x.jpg
          "
        />
        <img
          srcset="
            ./img/contacts/contacts-m@1x.jpg,
            ./img/contacts/contacts-m@2x.jpg
          "
          alt="friends"
        />
      </picture>
    </div>
  </div>
</section>
