<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <!-- logo -->
      <div class="footer-logo">
        <a class="footer-link" href="./index.html">
        <svg class="footer-leaf" width="140" height="70">
          <use href="./img/sprite.svg#icon-logo"></use>
        </svg>
      </a>
    </div>
      
      <!-- list -->
    <ul class="footer-desc">
      <li class="footer-list"><a href="#home-id">Home</a></li>
      <li class="footer-list"><a href="#mission-id">Mission</a></li>
      <li class="footer-list"><a href="#benefits-id">Benefits</a></li>
      <li class="footer-list"><a href="#assortment-id">Assortment</a></li>
      <li class="footer-list"><a href="#feedbacks-id">Feedbacks</a></li>
      <li class="footer-list"><a href="#faq-id">FAQ</a></li>
      <li class="footer-list"><a href="#contacts-id">Contacts</a></li>
    </ul>


    <!-- sosial-media -->

    <ul class="footer-socials">
      <li><a href="./index.html"><svg width="32" height="32">
            <use href="./img/sprite.svg#icon-facebook"></use>
          </svg></a></li>
      <li><a href="./index.html"><svg width="32" height="32">
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg></a></li>
      <li><a href="./index.html"><svg width="32" height="32">
            <use href="./img/sprite.svg#icon-x"></use>
          </svg></a></li>
      <li><a href="./index.html"><svg width="32" height="32">
            <use href="./img/sprite.svg#icon-linkedIn"></use>
          </svg></a></li>
      <li><a href="./index.html"><svg width="32" height="32">
            <use href="./img/sprite.svg#icon-youtube"></use>
          </svg></a></li>
    </ul>

  </div>


    <div class="footer-bottom">
      <div class="footer-line"></div>


    <p class="footer-copyright">&copy; 2025 Organic Shop. All rights reserved.</p>

  </div>
</footer>
