.mission-section {
  margin-left: auto;
  margin-right: auto;
  background-color: #5e8a4d;
  color: #fff;
}

/* @media only screen and (min-width: 768px) {
  .mission-section {
    max-width: 768px;
  }
} */

@media only screen and (min-width: 1440px) {
  .mission-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* max-width: 1440px; */
    margin: 0 auto;
  }
}

.mission-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .mission-container {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px 24px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1440px) {
  .mission-container {
    gap: 80px 24px;
  }
}

.mission-title {
  font-family: 'Chivo', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;

  margin-bottom: 24px;

  width: 100%;
}

@media only screen and (min-width: 768px) {
  .mission-title {
    width: 340px;
  }
}

@media only screen and (min-width: 1440px) {
  .mission-title {
    font-size: 48px;
    width: 644px;
  }
}

.mission-text {
  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .mission-text {
    width: 340px;
    margin: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .mission-text {
    border: none;
    width: 644px;
  }
}

.mission-img {
  width: 343px;
  height: 192px;
}

@media only screen and (min-width: 768px) {
  .mission-img {
    width: 704px;
    height: 396px;
  }
}

@media only screen and (min-width: 1440px) {
  .mission-img {
    width: 1312px;
    height: 738px;
  }
}
